.slider-container {
    margin: 0 auto;
    width: 400px;
  }
  
  .slider-container .slick-prev:before,
  .slider-container .slick-next:before {
    color: black;
  }

  .slider-containers{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .card p{
    margin-bottom: 10px;
  }

.card h3{
  margin-top: 10px;
  margin-bottom: 10px;
}
.card a{
  margin-bottom: 10px;
}

  .card img{
    margin: auto;
    border-radius: 10%;
    width: 100%;
    height: 50%;
  }

  